In [1]:
import numpy as np
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [2]:
PG = wb.DataReader('PG', data_source='yahoo', start='1995-1-1')

In [3]:
PG.head()

                High       Low      Open     Close     Volume  Adj Close
Date
1995-01-03  15.62500  15.43750  15.46875  15.59375  3318400.0   6.528558
1995-01-04  15.65625  15.31250  15.53125  15.46875  2218800.0   6.476228
1995-01-05  15.43750  15.21875  15.37500  15.25000  2319600.0   6.384644
1995-01-06  15.40625  15.15625  15.15625  15.28125  3438000.0   6.397724
1995-01-09  15.40625  15.18750  15.34375  15.21875  1795200.0   6.371559

In [4]:
PG.tail()

                 High        Low       Open      Close      Volume  Adj Close
Date
2019-01-29  94.120003  93.099998  93.790001  93.540001   9769800.0  93.540001
2019-01-30  94.660004  93.570000  93.610001  94.519997   7750200.0  94.519997
2019-01-31  96.809998  94.080002  94.430000  96.470001  16044400.0  96.470001
2019-02-01  97.610001  95.989998  96.349998  97.470001  12720800.0  97.470001
2019-02-04  98.220001  96.720001  97.209999  98.029999  11860272.0  98.029999

## Simple Rate of Return

$$
\frac{P_1 - P_0}{P_0} = \frac{P_1}{P_0} - 1
$$

In [5]:
PG['simple_return'] = (PG['Adj Close'] / PG['Adj Close'].shift(1)) - 1
print (PG['simple_return'])

Date
1995-01-03         NaN
1995-01-04   -0.008015
1995-01-05   -0.014142
1995-01-06    0.002049
1995-01-09   -0.004090
1995-01-10    0.012320
1995-01-11   -0.002028
1995-01-12    0.010162
1995-01-13    0.029231
1995-01-16    0.008000
1995-01-17    0.003968
1995-01-18   -0.021739
1995-01-19   -0.004040
1995-01-20   -0.004057
1995-01-23    0.010184
1995-01-24   -0.002016
1995-01-25    0.014142
1995-01-26    0.003984
1995-01-27    0.027778
1995-01-30    0.015444
1995-01-31   -0.009506
1995-02-01   -0.019194
1995-02-02    0.007828
1995-02-03    0.009709
1995-02-06    0.023077
1995-02-07   -0.001879
1995-02-08   -0.011300
1995-02-09   -0.001904
1995-02-10   -0.001909
1995-02-13    0.007648
                ...
2018-12-20   -0.008500
2018-12-21   -0.000110
2018-12-24   -0.039683
2018-12-26    0.031250
2018-12-27    0.021423
2018-12-28   -0.009128
2018-12-31    0.008116
2019-01-02   -0.006963
2019-01-03   -0.007011
2019-01-04    0.020410
2019-01-07   -0.004000
2019-01-08    0.003691
2019-01-09   -0.016331
2019-01-10    0.002419
2019-01-11    0.006581
2019-01-14   -0.006756
2019-01-15    0.009435
2019-01-16   -0.006956
2019-01-17   -0.000143
2019-01-18    0.008605
2019-01-22   -0.010720
2019-01-23    0.048651
2019-01-24   -0.005694
2019-01-25   -0.007423
2019-01-28   -0.000855
2019-01-29    0.000214
2019-01-30    0.010477
2019-01-31    0.020631
2019-02-01    0.010366
2019-02-04    0.005745
Name: simple_return, Length: 6065, dtype: float64